<launch>

    <!-- <arg name="OBJECT" default="sphere"/> -->
    <arg name="GAZE" default="false"/>
    

    <group ns="lwr">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robot_arm_motion)/models/robots/single_lwr_robot.urdf.xacro'"/> 
        <node name="lwr_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
           
    </group>

    <!-- GAZEBO -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param /lwr/robot_description -urdf -model single_lwr_robot" respawn="false" output="screen" />
    <!-- enable/disable gui at will, the rviz listens to the simulation -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find single_lwr_robot)/worlds/simple_environment.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="false"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>


    <!-- load robotHW configurations to rosparam server -->
    <rosparam command="load" file="$(find single_lwr_robot)/config/hw_interface.yaml"/>

    <!-- load all controller configurations to rosparam server -->
    <rosparam command="load" file="$(find single_lwr_robot)/config/controllers.yaml"/>

    <!-- real robot and controllers -->
    <group ns="lwr">
        <!-- spawn only desired controllers in current namespace -->
        <node name="controller_spawner_js" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="kuka_joint_state_controller"/>
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_controllers"/>
    </group>

    <node name="set_initial_pose" pkg="motion_example" type="moveToDesiredJoints" output="screen" args="30 50 0 -70 0 55 20"/>

    <group ns="target_obstacles_sim" unless="$(arg GAZE)">
        <rosparam file="$(find robot_arm_motion)/cfg/fake_target_obstacles.yaml" />

        <node name="target_publisher" pkg="robot_arm_motion" type="fake_target_publisher" output="screen"/>
    </group>

    <group ns="target_obstacles_sim" if="$(arg GAZE)">
        <node name="obs_visualization" pkg="robot_arm_motion" type="obstacle_visualization" output="screen" />
    </group>

    <group>
        <node name="rviz_kuka" pkg="rviz" type="rviz" args="-d '$(find robot_arm_motion)/cfg/rviz/kuka_objects.rviz'"/>
    </group>


</launch>